*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: open sans;
   
}

body{
    background:cornsilk;
}

.logo>img{
    width: 185px;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

.headerall{
    
    text-align: center;
}

.header2{
    background: #2B1A16;
}

.logow>img{
    width: 115px;
}

main{
    text-align: center;
}

